{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>Comics</title>
    <base href="/">

    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/comics.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand" href="/">Comics</a>
    </nav>

    <div class="container-fluid">
        <app-root
            apiToken="{{ api_token }}"
        ></app-root>
    </div>

    <script type="text/javascript" src="{% static 'dist/inline.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/polyfills.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/styles.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/vendor.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/main.bundle.js' %}"></script>
</body>
</html>
