<header class="content-header row">
    <div class="col">
        <h1>These are your series</h1>
    </div>
</header>

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <th>Series name</th>
        <th>Authors</th>
        <th>Year</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody *ngIf="seriesList">
        <tr *ngFor="let series of seriesList">
            <th scope="row">XXX</th>
            <td>
                <img class="comic-preview" src="{{ series.preview_img }}" alt="{{ series.title }}">
                {{ series.title }}
            </td>
            <td>
                {{ series.author }}
            </td>
            <td>
                {{ series.year }}
            </td>
            <td>
                <a class="btn btn-primary" href="/app/series/{{ series.id }}/">View comics</a>
            </td>
        </tr>
    </tbody>
</table>
